* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  --font-inter-tight: "Inter Tight", sans-serif;
  --font-inter: "Inter", sans-serif;
}
body {
  h1,
  h2 {
    font-family: var(--font-inter);
  }
  p {
    font-family: var(--font-inter-tight);
  }
  color: var(--content-secondary);
  background-color: var(--background-primary);
}
a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: var(--content-tertiary);
  &:hover {
    text-decoration: underline;
    color: var(--content-primary);
  }
}
