* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --content-primary: #ffffff;
  --title: #f5f4f5;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-logo: #2e2c30;
  --background-tertiary: #23242c;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  --font-inter-tight: "Inter Tight", sans-serif;
  --font-inter: "Inter", sans-serif;
}
#app {
  background-color: var(--background-primary);
  width: 390px;
  margin-inline: auto;
  margin-block: 0 3rem;
}

body {
  color: var(--content-secondary);
  background-color: var(--background-primary);
  header {
    margin-bottom: 9px;
    .logo {
      background-color: var(--background-logo);
      width: fit-content;
      padding: 0.75rem 1.5rem;
      border-radius: 0 0 0.75rem 0;
    }
  }
  main {
    padding: 1rem 20px;
  }
  h1 {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--title);
    margin-bottom: 0.5rem;
  }
  p {
    font-family: var(--font-inter-tight);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
.date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--border-primary);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 32px;
}
.card {
  h3 {
    color: var(--content-primary);
    font-family: var(--font-inter-tight);
    font-size: 1rem;
    font-weight: 700;
  }
  background-color: var(--background-tertiary);
  border-radius: 10px;
  margin-bottom: 12px;
  .header-cards {
    border-bottom: 1px solid var(--border-divisor);
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .periodo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .agendamentos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem;

    .wrapper-info {
      width: 100%;
      display: flex;
      gap: 1rem;
      .horario span,
      .identification span:nth-child(1) {
        font-size: 0.75rem;
        color: var(--content-primary);
      }
      .identification {
        width: 12.1785rem;
      }
      .identification span:nth-child(2) {
        font-size: 0.75rem;
      }
    }
    .servico {
      width: 100%;
      span {
        font-size: 0.75rem;
      }
    }
  }
  .remover {
    width: 100%;
    padding: 8px 20px;
    text-align: end;
  }
  .divisor {
    border-bottom: 1px solid var(--border-divisor);
  }
}
a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: var(--content-tertiary);
  &:hover {
    text-decoration: underline;
    color: var(--content-primary);
  }
}
footer {
  background-color: var(--background-tertiary);
  width: 100%;
  padding: 2rem 5rem;

  button {
    margin-inline: auto;
    border: none;
    cursor: pointer;
    color: var(--background-primary);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--content-brand);
    transition: 0.7s;
  }
  button:hover {
    background-color: var(--background-highlights);
  }
}
form {
  font-family: var(--font-inter-tight);
  max-width: 21.875rem;
  margin: 2rem auto;
  h2 {
    color: var(--content-primary);
  }
  p {
    color: var(--content-secondary);
  }
  label {
    margin-bottom: 0.25rem;
    color: var(--content-primary);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 171.429% */
  }
  .btn {
    margin-left: 175px;

    border: none;
    cursor: pointer;
    color: var(--background-primary);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--content-brand);
    transition: 0.7s;
  }
  .btn:hover {
    background-color: var(--background-highlights);
  }
}
.wrapper-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}
input,
textarea,
select {
  background-color: transparent;
  border: none;
  font-family: var(--font-inter);
  font-size: 1rem;
  color: var(--content-primary);
  resize: none;
  outline: none;
}
.flex-1 {
  display: flex;
  flex-direction: column;

  width: 100%;
  display: flex;
}
/* Fundo escuro */
.modal {
  display: none; /* escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.5); /* fundo semi-transparente */
  backdrop-filter: blur(5px); /* aplica o borrado */
}

/* Caixa do modal */
.modal-content {
  background-color: var(--background-tertiary);
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Botão de fechar */
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
.close:hover {
  color: red;
}

@media screen and (width > 1173px) {
  #app {
    width: 100%;
    .header-main {
      height: 60px;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        margin-bottom: 0;
      }
    }
    .date-container {
      margin-bottom: 0;
    }
    main {
      position: relative;
      margin-inline: auto;
      width: 700px;
    }
    .agendamentos {
      justify-content: space-between;
      flex-direction: row;
      gap: 1rem;
      .wrapper-info {
        min-width: fit-content;
      }
    }
    footer {
      background-color: var(--background-primary);
      button {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    form {
      max-width: 29.8125rem;
      margin: 2rem auto;
      .btn {
        margin-left: 305px;
      }
    }
  }
}
