* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --content-primary: #ffffff;
  --title: #f5f4f5;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-logo: #2e2c30;
  --background-tertiary: #23242c;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  --font-inter-tight: "Inter Tight", sans-serif;
  --font-inter: "Inter", sans-serif;
}
#app {
  background-color: var(--background-primary);
  width: 390px;
  margin-inline: auto;
  margin-block: 0 3rem;
}

body {
  color: var(--content-secondary);
  background-color: var(--background-primary);
  header {
    margin-bottom: 9px;
    .logo {
      background-color: var(--background-logo);
      width: fit-content;
      padding: 0.75rem 1.5rem;
      border-radius: 0 0 0.75rem 0;
    }
  }
  main {
    position: relative;
    padding: 12px 20px;
  }
  h1 {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--title);
    margin-bottom: 0.5rem;
  }
  p {
    font-family: var(--font-inter-tight);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
.date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--border-primary);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 32px;
}
.card {
  h3 {
    color: var(--content-primary);
    font-family: var(--font-inter-tight);
    font-size: 1rem;
    font-weight: 700;
  }
  background-color: var(--background-tertiary);
  border-radius: 10px;
  margin-bottom: 12px;
  .header-cards {
    border-bottom: 1px solid var(--border-divisor);
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .periodo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .agendamentos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem;

    .wrapper-info {
      width: 100%;
      display: flex;
      gap: 1rem;
      .horario span,
      .identification span:nth-child(1) {
        font-size: 0.75rem;
        color: var(--content-primary);
      }
      .identification {
        width: 12.1785rem;
      }
      .identification span:nth-child(2) {
        font-size: 0.75rem;
      }
    }
    .servico {
      width: 100%;
      span {
        font-size: 0.75rem;
      }
    }
  }
  .remover {
    width: 100%;
    padding: 8px 20px;
    text-align: end;
  }
  .divisor {
    border-bottom: 1px solid var(--border-divisor);
  }
}
a {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: var(--content-tertiary);
  &:hover {
    text-decoration: underline;
    color: var(--content-primary);
  }
}
button {
  position: absolute;
  bottom: -2rem;
  right: 8rem;
  border: none;
  cursor: pointer;
  color: var(--background-primary);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--content-brand);
  transition: 0.7s;
}
button:hover {
  background-color: var(--background-highlights);
}

@media screen and (width > 1200px) {
  #app {
    width: 100%;
    .header-main {
      height: 60px;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        margin-bottom: 0;
      }
    }
    .date-container {
      margin-bottom: 0;
    }
    main {
      height: 100vh;
      position: relative;
      margin-inline: auto;
      width: 700px;
    }
    .agendamentos {
      justify-content: space-between;
      flex-direction: row;
      gap: 1rem;
      .wrapper-info {
        min-width: fit-content;
      }
    }
    footer {
      position: absolute;
      width: fit-content;
      background: none;
      bottom: -50px;
      right: 0px;
    }
  }
}
