* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-primary);
  color: var(--content-primary);
}
